@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

a:link {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'GothamPro-Medium';
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Regular';
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Black';
  src: url("../fonts/GothamPro-Black.woff2") format("woff2"), url("../fonts/GothamPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Bold';
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BanderaPro-Bold';
  src: url("../fonts/BanderaPro-Bold.woff2") format("woff2"), url("../fonts/BanderaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-Regular.woff2") format("woff2"), url("../fonts/PFDinDisplayPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'video';
  src: url("../fonts/video.eot?ihsmzn");
  src: url("../fonts/video.eot?ihsmzn#iefix") format("embedded-opentype"), url("../fonts/video.ttf?ihsmzn") format("truetype"), url("../fonts/video.woff?ihsmzn") format("woff"), url("../fonts/video.svg?ihsmzn#video") format("svg");
  font-weight: normal;
  font-style: normal; }

.feedback__icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'video' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.youtube-icon:before {
  content: "\e91d"; }

body {
  background-color: #fff; }

.content-wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #fff; }

@media screen and (min-width: 1400px) {
  .content-wrap {
    width: 1250px;
    margin: 0 auto;
    background-color: #fff; } }

.main-container {
  position: relative;
  width: 87.90323%;
  margin: 0 auto; }

.section-heading {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font: 1.75em GothamPro-Bold, Arial, san-serif;
  color: #000; }
  .section-heading::after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    content: " ";
    width: 40px;
    height: 2px;
    background-color: #C4055F; }

.section-descript {
  margin-bottom: 55px;
  width: 100%;
  text-align: center;
  font: 0.9375em GothamPro-Regular, Arial, san-serif;
  color: #6d7075;
  line-height: 1.5; }
  .section-descript strong {
    font-family: GothamPro-Bold,Arial, san-serif; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  z-index: 101;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  outline: none;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #6d7075;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

.popup {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #F5F5F5; }
  .popup-menu {
    display: flex;
    flex-direction: column; }
    .popup-menu__item {
      margin-bottom: 30px;
      text-align: center; }
      .popup-menu__item:hover .popup-menu__link {
        color: #C4055F; }
      .popup-menu__item:last-child {
        margin-right: 0; }
    .popup-menu__link {
      font: 1.25em GothamPro-Medium, Arial, san-serif;
      text-transform: uppercase;
      transition: all 0.2s;
      color: #6d7075; }

.head {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #F5F5F5; }
  .head__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px; }
  .head__logo {
    width: 110px;
    height: 50px;
    margin-right: 43.11927%; }
  .head__slogan {
    width: 40.36697%;
    margin-bottom: 60px; }
  .head__heading {
    position: relative;
    margin-bottom: 70px;
    font: 1.875em GothamPro-Bold, Arial, san-serif;
    color: #000; }
    .head__heading::after {
      position: absolute;
      bottom: -35px;
      left: 0;
      content: " ";
      width: 40px;
      height: 2px;
      background-color: #C4055F; }
  .head__descript {
    margin-bottom: 30px;
    font: 0.9375em GothamPro-Regular, Arial, san-serif;
    color: #6d7075;
    line-height: 1.5; }
    .head__descript strong {
      font-family: GothamPro-Bold,Arial, san-serif; }
    .head__descript:last-child {
      margin-bottom: 0px; }
  .head-button {
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C4055F;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s;
    font: 0.6875em GothamPro-Black, Arial, san-serif;
    text-transform: uppercase;
    padding-right: 15px; }
    .head-button__icon {
      width: 23px;
      height: 23px;
      fill: #fff; }
    .head-button:hover {
      opacity: 0.8; }

.menu {
  min-width: 26.6055%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .menu__item {
    margin-right: 10.34483%; }
    .menu__item:hover .menu__link {
      color: #C4055F; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    font: 0.73438em GothamPro-Medium, Arial, san-serif;
    text-transform: uppercase;
    transition: all 0.2s;
    color: #6d7075; }

.lang-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70px;
  height: 35px;
  font: 0.6875em GothamPro-Black, Arial, san-serif;
  color: #C4055F;
  box-sizing: border-box;
  border-radius: 40px;
  border: 2px solid #CACBD0;
  cursor: pointer; }
  .lang-button__circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #CACBD0; }

.video-button {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer; }
  .video-button:hover {
    background-color: #CACBD0; }

.video-play {
  width: 17px;
  height: 20px;
  fill: #C4055F; }

.man {
  position: absolute;
  bottom: -60px;
  right: 4.58716%; }

.service {
  padding-top: 60px;
  margin-bottom: 60px; }

.service-list {
  width: 100%;
  min-height: 265px;
  box-sizing: border-box;
  padding: 60px 0 30px 0; }
  .service-list .main-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .service-list__item {
    position: relative;
    width: 39.90826%;
    display: flex;
    align-items: flex-start; }
    .service-list__item_borderRight::after {
      position: absolute;
      top: 0;
      right: -30%;
      content: "";
      height: 190px;
      width: 2px;
      border-right: 2px dotted #CACBD0; }
    .service-list__item:hover .service-list__icon {
      fill: #C4055F; }
    .service-list__item:hover .service-list__info {
      color: #fff;
      background-color: #C4055F; }
  .service-list__icon {
    margin-right: 6.89655%;
    height: 42px;
    fill: #A5A8AE; }
    .service-list__icon_doc {
      width: 41px; }
    .service-list__icon_opt {
      width: 70px; }
    .service-list__icon_sost {
      width: 70px; }
    .service-list__icon_sud {
      width: 110px; }
  .service-list__text {
    padding-top: 10px;
    max-width: 86.2069%; }
  .service-list__heading {
    margin-bottom: 27px;
    font: 0.9375em GothamPro-Bold, Arial, san-serif;
    text-transform: uppercase; }
  .service-list__paragraph {
    font: 0.8125em GothamPro-Regular, Arial, san-serif;
    line-height: 1.5;
    color: gray; }
  .service-list-about {
    padding-left: 15px; }
    .service-list-about__item {
      list-style: url(../../img/list-style.png);
      font: 0.8125em GothamPro-Regular, Arial, san-serif;
      color: gray;
      line-height: 1.5; }
      .service-list-about__item_listStyle {
        list-style: none; }
  .service-list__info {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #C4055F;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.9375em BanderaPro-Bold, Arial, san-serif; }
  .service-list_borderTopBottom {
    border-top: 1px solid #CACBD0;
    border-bottom: 2px dotted #CACBD0; }
  .service-list_borderBottom {
    border-bottom: 1px solid #CACBD0; }

.feedback {
  position: relative;
  padding-bottom: 55px;
  border-bottom: 1px solid #CACBD0; }
  .feedback__section-descript {
    margin-bottom: 75px; }
  .feedback-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 73px; }
  .feedback__item {
    width: 27.52294%;
    height: 400px; }
    .feedback__item:hover .feedback__icon-wrap {
      color: #C4055F; }
    .feedback__item:hover .feedback__author-name {
      color: #C4055F; }
  .feedback__icon-wrap {
    width: 100%;
    font: 3.75em PFDinDisplayPro, Arial, san-serif;
    color: #CACBD0;
    line-height: 0.7;
    display: flex;
    align-items: flex-start; }
  .feedback__text {
    margin-bottom: 40px;
    font: 1.0625em GothamPro-Regular, Arial, san-serif;
    color: #000;
    line-height: 1.4; }
  .feedback__author-photo {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .feedback__author-name {
    margin-bottom: 17px;
    font: 0.8125em GothamPro-Bold, Arial, san-serif; }
  .feedback-video-wrap {
    display: flex;
    position: relative;
    margin-top: 25px;
    margin-bottom: 7%;
    cursor: pointer; }
    .feedback-video-wrap:hover .feedback-video__icon {
      fill: #C4055F; }
  .feedback-video__icon {
    width: 10px;
    height: 10px;
    fill: #434343;
    transition: all 0.3s; }
    .feedback-video__icon-wrap {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center; }
  .feedback__company {
    font: 0.75em GothamPro-Regular, Arial, san-serif; }
  .feedback__link {
    position: relative;
    margin-left: 20px;
    font: 0.9375em GothamPro-Bold, Arial, san-serif;
    text-decoration: underline; }
    .feedback__link:link {
      text-decoration: underline; }
    .feedback__link:vizited {
      text-decoration: underline; }
    .feedback__link::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -15px;
      content: "•";
      color: #C4055F; }
  .feedback-button {
    margin: 0 auto;
    width: 11.92661%;
    display: flex;
    align-items: center;
    font: 0.6875em GothamPro-Black, Arial, san-serif;
    text-transform: uppercase;
    cursor: pointer; }
    .feedback-button__icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      fill: #C4055F; }

.youtube-icon {
  font-size: 1.6em;
  color: #CACBD0;
  line-height: 0.4; }

.form-wrap {
  padding-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #CACBD0; }
  .form-wrap-section__heading {
    margin-bottom: 80px; }

.form-contact {
  float: left;
  width: 34.86239%;
  margin-right: 3.66972%; }

.form {
  margin-bottom: 50px; }
  .form__input {
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CACBD0;
    outline: none;
    font: 0.6875em GothamPro-Black, Arial, san-serif;
    text-transform: uppercase; }
    .form__input:last-child {
      margin-bottom: 0; }
    .form__input[placeholder] {
      font: 0.6875em GothamPro-Medium, Arial, san-serif; }
    .form__input ::-webkit-input-placeholder {
      color: #000; }
    .form__input ::-moz-placeholder {
      color: #000; }
    .form__input :-moz-placeholder {
      color: #000; }
    .form__input :-ms-input-placeholder {
      color: #000; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

.checkbox {
  margin-bottom: 40px;
  width: 100%;
  border: 1px solid #CACBD0;
  box-sizing: border-box; }
  .checkbox-head {
    height: 50px;
    padding: 0 5.26316%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CACBD0;
    background-color: #FCFCFD;
    box-sizing: border-box; }
  .checkbox__heading {
    font: 0.6875em GothamPro-Medium, Arial, san-serif;
    color: #000;
    text-transform: uppercase; }
  .checkbox__icon {
    width: 20px;
    height: 20px;
    fill: #CACBD0; }
  .checkbox-list {
    padding: 30px 11.05263%; }
    .checkbox-list__item {
      margin-bottom: 15px;
      position: relative; }
    .checkbox-list__label {
      font: 0.8125em GothamPro-Regular, Arial, san-serif;
      color: #6d7075; }
    .checkbox-list input[type="checkbox"] {
      display: none; }
    .checkbox-list label:after {
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50%;
      border: 3px solid #CACBD0;
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -22px;
      box-sizing: border-box; }
    .checkbox-list input[type=checkbox]:checked + label {
      color: #C4055F;
      font-family: GothamPro-Bold, Arial, san-serif; }
    .checkbox-list input[type=checkbox]:checked + label:after {
      border-color: #C4055F; }
    .checkbox-list input[type="checkbox"] + label {
      cursor: pointer; }
      .checkbox-list input[type="checkbox"] + label:hover {
        color: #C4055F;
        font-family: GothamPro-Bold, Arial, san-serif; }
      .checkbox-list input[type="checkbox"] + label:hover .checkbox-list__lable:after {
        display: none; }

.form-text {
  float: left;
  width: 34.86239%; }
  .form-text__heading {
    margin-bottom: 10px;
    font: 0.6875em GothamPro-Medium, Arial, san-serif;
    color: #000;
    text-transform: uppercase; }
  .form-text__textarea {
    width: 100%;
    height: 250px;
    padding: 18px;
    border: 1px solid #CACBD0;
    resize: none; }
    .form-text__textarea[placeholder] {
      font: 0.9375em GothamPro-Regular, Arial, san-serif; }
    .form-text__textarea ::-webkit-input-placeholder {
      color: #000; }
    .form-text__textarea ::-moz-placeholder {
      color: #000; }
    .form-text__textarea :-moz-placeholder {
      color: #000; }
    .form-text__textarea :-ms-input-placeholder {
      color: #000; }

.form-wrap-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 14.51613%;
  height: 50px;
  border: none;
  border-radius: 40px;
  background-color: #C4055F;
  color: #fff;
  font: 0.6875em GothamPro-Black, Arial, san-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s; }
  .form-wrap-button:hover {
    opacity: 0.8; }

.footer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.company-name {
  margin-bottom: 25px;
  font: 0.6875em GothamPro-Black, Arial, san-serif;
  color: #000;
  text-transform: uppercase; }

.company-address, .company-phone, .company-mail {
  margin-bottom: 14px;
  font: 1.125em GothamPro-Regular, Arial, san-serif;
  color: #000; }

.company-mail {
  margin-bottom: 27px;
  color: #C4055F;
  text-decoration: underline; }

.social {
  margin-bottom: 25px;
  display: flex;
  align-items: center; }
  .social__item {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #CACBD0;
    box-sizing: border-box;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    transition: all 0.2s; }
    .social__item:hover {
      border: 2px solid #326CBC; }
    .social__item:hover .social__icon {
      fill: #326CBC; }
  .social__icon {
    width: 17px;
    height: 15px;
    transition: all 0.2s; }

.copyright {
  font: 0.75em GothamPro-Regular, Arial, san-serif; }
  .copyright b {
    font-family: GothamPro-Bold, Arial, san-serif; }

@media screen and (min-width: 1024px) and (max-width: 1344px) {
  .head__logo {
    margin-right: 37%; }
  .menu {
    width: 33%; }
  .feedback-video-wrap {
    height: 200px;
    margin-bottom: 35px; }
  .feedback-video__video {
    height: 175px; } }

@media screen and (min-width: 1024px) and (max-width: 1344px) and (max-width: 1150px) {
  .feedback__text {
    font-size: 1em;
    font-size: 1.3; }
  .feedback-button {
    width: 15%; }
  .feedback-video-wrap {
    height: 200px;
    margin-bottom: 50px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .head__logo {
    margin-right: 30%; }
  .head__header {
    margin-bottom: 50px; }
  .section-descript {
    margin-bottom: 30px; }
  .menu {
    width: 35%; }
    .menu__item {
      margin-right: 3%; }
  .service {
    padding-top: 40px;
    margin-bottom: 30px; }
    .service-list {
      padding-top: 40px; }
      .service-list__heading {
        font-size: 0.8em; }
      .service-list__item {
        width: 44%; }
        .service-list__item_borderRight::after {
          right: -17%; }
  .feedback__item {
    width: 32%; }
  .feedback__text {
    font-size: 1em; }
  .feedback-list {
    margin-bottom: 30px; }
  .feedback-button {
    width: 18%; }
  .feedback-video-wrap {
    height: 200px;
    margin-bottom: 45px; }
  .feedback-video__video {
    height: 175px; }
  .form-wrap {
    padding-top: 40px; }
  .form-contact {
    width: 40%; }
  .form-text {
    width: 40%; } }

@media screen and (min-width: 768px) and (max-width: 1023px) and (max-width: 850px) {
  /*HEAD*/
  .head {
    padding-bottom: 40px; }
    .head__logo {
      margin-right: 0%; }
    .head__heading {
      font-size: 1.5em;
      margin-bottom: 50px; }
      .head__heading::after {
        bottom: -25px;
        width: 30px; }
    .head__descript {
      font-size: 0.8em;
      margin-bottom: 20px; }
  .menu {
    width: 40%; }
  .man {
    bottom: -40px;
    width: 45%; }
  /*END___HEAD*/
  /*SERVICE*/
  .service {
    padding-top: 40px;
    margin-bottom: 30px; }
    .service-list {
      padding-top: 40px; }
      .service-list__heading {
        font-size: 0.6em; }
      .service-list__item {
        width: 47%; }
        .service-list__item_borderRight::after {
          display: none; }
      .service-list__paragraph {
        font-size: 0.7em; }
      .service-list__icon_doc {
        width: 35px; }
      .service-list__icon_opt {
        width: 80px; }
      .service-list-about__item {
        font-size: 0.7em; }
  /*END___SERVICE*/
  /*FEEDBACK*/
  .feedback__item {
    width: 32%; }
  .feedback__text {
    font-size: 0.9em; }
  .feedback-list {
    margin-bottom: 30px; }
  .feedback-button {
    width: 25%; }
  .feedback-video-wrap {
    height: 150px;
    margin-bottom: 110px; }
  .feedback-video__video {
    height: 150px; }
  /*END___FEEDBACK*/
  /*FORM*/
  .form-wrap {
    padding-top: 40px; }
    .form-wrap-section__heading {
      margin-bottom: 40px; }
    .form-wrap-button {
      width: 25%; }
  .form-contact {
    width: 40%; }
  .form-text {
    width: 40%; }
  /*END___FORM*/ }

@media screen and (min-width: 600px) and (max-width: 767px) {
  .section-heading {
    font-size: 1.3em; }
    .section-heading::after {
      bottom: -15px; }
  .section-descript {
    font-size: 0.75em;
    margin-bottom: 30px; }
  /*HEAD*/
  .head {
    padding-top: 25px;
    padding-bottom: 25px; }
    .head__logo {
      margin-right: 0%; }
    .head__slogan {
      width: 60%;
      margin-bottom: 30px; }
    .head__header {
      margin-bottom: 60px; }
    .head__heading {
      font-size: 1.5em;
      margin-bottom: 50px; }
      .head__heading::after {
        bottom: -25px;
        width: 30px; }
    .head__descript {
      font-size: 0.8em;
      margin-bottom: 20px; }
    .head-button {
      margin: 0 auto; }
  .menu {
    width: 50%; }
    .menu__link {
      font-size: 0.65em; }
    .menu__item {
      margin-right: 1%; }
  .video-button {
    display: none; }
  .man {
    top: 80px;
    right: 0;
    width: 40%; }
  /*END___HEAD*/
  /*SERVICE*/
  .service {
    padding-top: 30px;
    margin-bottom: 30px; }
    .service-list {
      padding-top: 20px;
      padding-bottom: 0; }
      .service-list .main-container {
        display: block; }
      .service-list__heading {
        font-size: 0.8em;
        margin-bottom: 15px; }
      .service-list__item {
        width: 100%;
        margin-bottom: 30px; }
        .service-list__item_borderRight::after {
          display: none; }
      .service-list__paragraph {
        font-size: 0.7em; }
      .service-list__icon_doc {
        width: 35px; }
      .service-list__icon_opt {
        width: 50px; }
      .service-list-about {
        width: 85%; }
        .service-list-about__item {
          font-size: 0.7em; }
      .service-list_borderTopBottom {
        border-bottom: none; }
  /*END___SERVICE*/
  /*FEEDBACK*/
  .feedback {
    padding-bottom: 30px; }
    .feedback__item {
      width: 100%;
      height: auto;
      margin-bottom: 40px; }
    .feedback__text {
      font-size: 0.8em;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px; }
    .feedback-list {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 50px;
      display: block;
      text-align: center; }
    .feedback__author-photo {
      margin-bottom: 10px; }
    .feedback__icon-wrap {
      width: 30px;
      float: left;
      font-size: 3em; }
    .feedback-button {
      width: 25%; }
    .feedback-video-wrap {
      height: 170px;
      margin-bottom: 30px; }
    .feedback-video__video {
      margin: 0 auto;
      height: 170px; }
    .feedback .youtube-icon {
      font-size: 1.3em; }
  /*END___FEEDBACK*/
  /*FORM*/
  .form {
    margin-bottom: 50px; }
    .form-wrap {
      padding-top: 30px;
      padding-bottom: 30px; }
      .form-wrap-section__heading {
        margin-bottom: 40px; }
      .form-wrap-button {
        width: 30%; }
    .form-contact {
      width: 47%; }
    .form-text {
      width: 43%; }
      .form-text__textarea {
        height: 150px; }
    .form__input {
      margin-bottom: 15px;
      padding-bottom: 5px; }
      .form__input[placeholder] {
        font-size: 0.65em; }
  .checkbox-list {
    padding: 20px 15%; }
    .checkbox-list__label {
      font-size: 0.7em; }
  /*END___FORM*/ }

@media screen and (min-width: 600px) and (max-width: 767px) and (min-width: 630px) {
  .man {
    width: 200px; } }

@media screen and (min-width: 320px) and (max-width: 599px) {
  .section-heading {
    font-size: 1.3em;
    margin-bottom: 50px; }
    .section-heading::after {
      bottom: -15px; }
  .section-descript {
    font-size: 0.7em;
    margin-bottom: 30px; }
  /*HEAD*/
  .head {
    padding-top: 25px;
    padding-bottom: 25px; }
    .head__logo {
      margin-right: 0%; }
    .head__slogan {
      width: 100%;
      margin-bottom: 40px; }
    .head__header {
      margin-bottom: 60px; }
    .head__heading {
      text-align: center;
      font-size: 1.7em;
      margin-bottom: 50px; }
      .head__heading::after {
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        width: 25%; }
    .head__descript {
      text-align: center;
      font-size: 0.8em;
      margin-bottom: 12px; }
    .head-button {
      margin: 0 auto; }
  .menu {
    display: none; }
  .lang-button {
    display: none; }
  .video-button {
    display: none; }
  .man {
    display: none;
    top: 80px;
    right: 0;
    width: 30%; }
  /*END___HEAD*/
  /*SERVICE*/
  .service {
    padding-top: 30px;
    margin-bottom: 30px; }
    .service-list {
      padding-top: 20px;
      padding-bottom: 0; }
      .service-list .main-container {
        display: block; }
      .service-list__heading {
        font-size: 0.8em;
        margin-bottom: 15px; }
      .service-list__item {
        width: 100%;
        margin-bottom: 30px; }
        .service-list__item_borderRight::after {
          display: none; }
      .service-list__paragraph {
        font-size: 0.7em; }
      .service-list__icon_doc {
        width: 35px; }
      .service-list__icon_opt {
        width: 50px; }
      .service-list-about {
        width: 85%; }
        .service-list-about__item {
          font-size: 0.7em; }
      .service-list_borderTopBottom {
        border-bottom: none; }
  /*END___SERVICE*/
  /*FEEDBACK*/
  .feedback {
    padding-bottom: 30px; }
    .feedback__item {
      width: 100%;
      height: auto;
      margin-bottom: 50px; }
    .feedback__text {
      font-size: 0.8em;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px; }
    .feedback-list {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 50px;
      display: block;
      text-align: center; }
    .feedback__author-photo {
      margin-bottom: 10px; }
    .feedback__author-name {
      margin-bottom: 10px; }
    .feedback__icon-wrap {
      width: 30px;
      float: left;
      font-size: 3em; }
    .feedback-button {
      width: 45%; }
    .feedback-video-wrap {
      height: 170px;
      margin-bottom: 30px; }
    .feedback-video__video {
      margin: 0 auto;
      height: 170px; }
    .feedback .youtube-icon {
      font-size: 1.3em; }
  /*END___FEEDBACK*/
  /*FORM*/
  .form {
    margin-bottom: 40px; }
    .form-wrap {
      padding-top: 30px;
      padding-bottom: 30px; }
      .form-wrap-section__heading {
        margin-bottom: 40px; }
      .form-wrap-button {
        width: 35%; }
    .form-contact {
      width: 100%; }
    .form-text {
      width: 90%; }
      .form-text__textarea {
        height: 150px;
        margin-bottom: 20px; }
    .form__input {
      margin-bottom: 25px;
      padding-bottom: 5px; }
      .form__input[placeholder] {
        text-align: center;
        font-size: 0.8em; }
  .checkbox-list {
    padding: 20px 15%; }
    .checkbox-list__label {
      font-size: 0.82em; }
  /*END___FORM*/
  /*POPUP*/
  .popup-menu__item {
    margin-bottom: 20px; }
  .popup-menu__link {
    font: 1em GothamPro-Medium, Arial, san-serif; }
  /*END___POPUP*/ }

@media screen and (min-width: 320px) and (max-width: 599px) and (max-width: 450px) {
  .head__header {
    margin-bottom: 35px; }
  .head__heading {
    font-size: 1.5em; }
  .service__section-descript {
    display: none; }
  .service-list__heading {
    font-size: 0.68em; }
  .service-list_borderTopBottom {
    border: none; }
  .feedback__section-descript {
    display: none; }
  .feedback-list {
    width: 100%; }
  .feedback__text {
    font-size: 0.85em; }
  .feedback-button {
    width: 50%; }
  .form-wrap-button {
    width: 50%; }
  .company-address, .company-phone, .company-mail {
    font-size: 0.98em; } }
