@import "reset";
@import "fonts";

$gold: #FFD04F;



body {
	position: relative;
}
img {
	max-width: 100%;
}

.block-content-position {
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

.main-container {
	padding: 0 200/1605*100% 0 180/1605*100%;
	width: 1605/2490*100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;

	box-sizing: border-box;
}


.header {
	padding: 235px 0 185px 0;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;

	&__heading {
		width: 100%;
		padding-right: 65/1145*100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		letter-spacing: 3px;
		font: 69.7/16*1em Montserrat-ExtraBold, Arial, sans-serif;
		color: $gold;

		&::after {
			position: absolute;
			top: 0;
			right: -205px;
			content: " ";
			background-color: $gold;
			width: 205px;
			height: 100%;
		}
	}
}

.about {
	position: relative;
	padding: 170px 0 210px 0;
	background-color: #242A31;

	&__heading {
		width: 100%;
		font: 98.7/16*1em Montserrat-Regular, Arial, sans-serif;
		color: #fff;
		margin-bottom: 70px;
		text-transform: uppercase;

		&_big {
			font-family: Montserrat-ExtraBold, Arial, sans-serif;
			font-size: 1.9em;
			color: $gold;
		}

	}

	&__text {
		font: 37/16*1em Montserrat-Regular, Arial, sans-serif;
		color: #fff;
		text-align: right;
	}

	&__decore {
		position: absolute;
		top: 0;
		right: 0;
		height: 45px;
		width: 830/2490*100%;
		background-color: rgba(255, 255, 255, 0.4);
	}
}

.other {
	background: url(../img/other-bg.jpg) center center no-repeat;
	background-size: cover;

	&__main-container_blue {
		padding-top: 170px;
		padding-bottom: 210px;
		background-color: rgba(1, 173,222, 0.4);
	}

	&__heading {
		@extend .about__heading;
		font: 180/16*1em Montserrat-ExtraBold, Arial, sans-serif;
	}

	&__text_white {
		@extend .about__text;
		margin-bottom: 65px;
		font-family: Montserrat-Bold, Arial, sans-serif;
	}

	&__text_black {
		@extend .about__text;
		color: #000;
		font-family: Montserrat-Bold, Arial, sans-serif;
	}
}

.footer {
	height: 390px;
	align-items: center;
	background-color: #386678;

	&__brand {
		width: 1080/1605*100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}


.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 885/2490*100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;

	&-text {
		width: 690/885*100%;
		height: 2500/3500*100%;
		padding: 240/2500*100% 102px 0 102px;
		background-color: rgba(255, 208, 79, 0.9);
		box-sizing: border-box;
		display: flex;
		align-items: center;
		flex-direction: column;

		&-container {
			width: 477/690*100%;
		}
		
		&__heading {
			margin-bottom: 835px;
			font: 56/16*1em Montserrat-Light, Arial, sans-serif;
			color: #fff;
			text-transform: uppercase;
			text-align: center;

			&_big {
				font: 3.5em Montserrat-ExtraBold, Arial, sans-serif;
			}
		}

		&-about {
			position: relative;
			margin-bottom: 505px;
			font: 37/16*1em Montserrat-Regular, Arial, sans-serif;
			color: #fff;

			&::before {
				position: absolute;
				top: -100px;
				left: 0;
				content: " ";
				width: 150px;
				height: 50px;
				background-color: #fff;
			}
		}

		&-other {
			position: relative;
			font: 69/16*1em Montserrat-SemiBold, Arial, sans-serif;
			color: #fff;

			&::before {
				position: absolute;
				top: -140px;
				left: 0;
				content: " ";
				width: 150px;
				height: 50px;
				background-color: #fff;
			}
		}
	}

	&-contact {
		width: 100%;
		height: 1000/3500*100%;
		padding-top: 230px;
		padding-left: 190/885*100%; 
		background-color: #242A31;
		color: #fff;
		box-sizing: border-box;
	}

	&__link {
		color: $gold;
		font: 45/16*1em Montserrat-Bold, Arial, sans-serif;

		&:link {
			color: $gold;
		}

		&:visited {
			color: $gold;
		}
	}
}

.contact {
	margin-bottom: 125px;

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 75px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		margin-right: 70/885*100%;
	}

	&__text {
			font: 41/16*1em Montserrat-Regular, Arial, sans-serif;
	}
}

@import "mediaQueries_1900-1920px.scss";
@import "mediaQueries_1345-1400px.scss";
@import "mediaQueries_1024-1285px.scss";
@import "mediaQueries_600-960px.scss";
@import "mediaQueries_320-599px.scss";