@media screen and (min-width: 1900px) and (max-width: 1920px) {
	
	.header {
		padding: 180px 0 120px 0;

		&__heading {
			font-size: 2.5em;

			&::after {
				right: -150px;
				width: 150px;
			}
		}
	}

	.about {
		padding: 120px 0 150px 0;

		&__heading {
			font-size: 4.5em;
		}

		&__text {
			font-size: 1.6em;
		}
	}

	.other {
		&__main-container_blue {
			padding-top: 120px;
			padding-bottom: 150px;
		}

		&__heading {
			font-size: 8em;
		}
	}

	.footer {
		height: 290px;

		&__brand {
			width: 120%;
		}
	}

	.sidebar {
		&-text {
			padding-bottom: 0px;
			
			&__heading {
				margin-bottom: 550px;
				font-size: 3em;
			}

			&-about {
				margin-bottom: 450px;
				font-size: 1.8em;
			}

			&-other {
				font-size: 3.2em;

				&::before {
					top: -110px;
				}
			}
		}

		&-contact {
			padding-top: 120px;
		}

		&__link {
			font-size: 2.3em;
		}
	}

	.contact {
		margin-bottom: 90px;

		&__item {
			font-size: 0.8em;
		}
	}

}
