.service {
	padding-top: 60px;
	margin-bottom: 60px;
}

.service-list {
	width: 100%;
	min-height: 265px;
	box-sizing: border-box;
	padding: 60px 0 30px 0;

	
	& .main-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		width: 435/1090*100%;
		display: flex;
		align-items: flex-start;

		&_borderRight {
			&::after {
				position: absolute;
				top: 0;
				right: -30%;
				content: "";
				height: 190px;
				width: 2px;
				border-right: 2px dotted $dark-gray;
			}
		}

		&:hover .service-list__icon {
			fill: $pink;
		}

		&:hover .service-list__info {
			color: #fff;
			background-color: $pink;
		}
	}

	&__icon {
		margin-right: 30/435*100%;
		height: 42px;
		fill: #A5A8AE;

		&_doc {
			width: 41px;
		}
		&_opt {
			width: 70px;
		}
		&_sost {
			width: 70px;
		}
		&_sud {
			width: 110px;
		}
	}

	&__text {
		padding-top: 10px; 
		max-width: 375/435*100%;
	}

	&__heading {
		margin-bottom: 27px;
		font: 15/16*1em GothamPro-Bold, Arial, san-serif;
		text-transform: uppercase;
	}

	&__paragraph {
		font: 13/16*1em GothamPro-Regular, Arial, san-serif;
		line-height: 1.5;
		color: gray;
	}

	&-about {
		padding-left: 15px;

		&__item {
			list-style: url(../../img/list-style.png);
			font: 13/16*1em GothamPro-Regular, Arial, san-serif;
			color: gray;
			line-height: 1.5;
			
			&_listStyle {
				list-style: none;
			}
		}
	}

	&__info {
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid $pink;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		font: 15/16*1em BanderaPro-Bold, Arial, san-serif;
	}

	&_borderTopBottom {
		border-top: 1px solid $dark-gray;
		border-bottom: 2px dotted $dark-gray;
	}

	&_borderBottom {
		border-bottom: 1px solid $dark-gray;
	}
}
