.head {
	padding-top: 45px;
	padding-bottom: 60px;
	background-color: $gray;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 80px;
	}

	&__logo {
		width: 110px;
		height: 50px;
		margin-right: 470/1090*100%;
	}

	&__slogan {
		width: 440/1090*100%;
		margin-bottom: 60px;

	}

	&__heading {
		position: relative;
		margin-bottom: 70px;
		font: 30/16*1em GothamPro-Bold, Arial, san-serif;
		color: #000;

		&::after {
			position: absolute;
			bottom: -35px;
			left: 0;
			content: " ";
			width: 40px;
			height: 2px;
			background-color: $pink;
		}
	}

	&__descript {
		margin-bottom: 30px;
		font: 15/16*1em GothamPro-Regular, Arial, san-serif;
		color: $text-main-color;
		line-height: 1.5;

		& strong {
			font-family: GothamPro-Bold,Arial, san-serif;
		} 

		&:last-child {
			margin-bottom: 0px;
		}
	}

	&-button {
		width: 180px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: $pink;
		color: #fff;
		border: none;
		border-radius: 40px;
		cursor: pointer;
		transition: all 0.2s;
		font: 11/16*1em GothamPro-Black, Arial, san-serif;
		text-transform: uppercase;
		padding-right: 15px;

		&__icon {
			width: 23px;
			height: 23px;
			fill: #fff;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.menu {
	min-width: 290/1090*100%;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__item {
		margin-right: 30/290*100%;

		&:hover .menu__link {
			color: $pink;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font: 11.75/16*1em GothamPro-Medium, Arial, san-serif;
		text-transform: uppercase;
		transition: all 0.2s;
		color: $text-main-color;
	}
}

.lang-button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70px;
	height: 35px;
	font: 11/16*1em GothamPro-Black, Arial, san-serif;
	color: $pink;
	box-sizing: border-box;
	border-radius: 40px;
	border: 2px solid $dark-gray;
	cursor: pointer;

	&__circle {
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background-color: $dark-gray;
	}
}

.video-button {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translateX(-50%);
	width: 90px;
	height: 90px;
	// align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: none;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;

	&:hover {
		background-color: $dark-gray;
	}
}

.video-play {
	width: 17px;
	height: 20px;
	fill: $pink;
}

.man {
	position: absolute;
	bottom: -60px;
	right: 50/1090*100%;
}